
aside.sidebar
  
  .nav-pane.slide-out.home

    .nav-items

      .listone
      
        span.list-title Flammable Records

      .listthree
      
        input(type="checkbox" id="listthree" class='droppers')

        a.icon-contact
          span.list-item Connect With
            span Angry Eagle

          label(for="listthree")
            .dropdown
              span.bar
              span.bar

        a.sub(href='/sportfishing.html')
          span.list-item Twitter

        a.sub(href='/recreation.html')
          span.list-item Instagram

        a.sub.fancybox(class='fancybox.iframe' href='/_includes/overlays/itinerary.html')
          span.list-item Facebook

        a.sub(href='/travel.html')
          span.list-item Email

        .sub.phones
        
          a(href='tel:1615XXXXXXX')
            span (615) XXX-XXXX
            
          a.fancybox(class='fancybox.iframe' href='/_includes/overlays/map.html')
            span.map Nashville,d TN
              span View Map

    .copyline
    
      p &copy;2018 Flammable Records &#9702; Nashville, TN, USA

  .toggle-nav
  
    span.m M
    span.e
      span.bar
      span.bar
      span.bar
    span.n N
    span.u U
