
aside.sidebar
  
  .nav-pane.slide-out.home

    .nav-items

      .listone
      
        span.list-title Flammable Records

      .listthree
      
        input(type="checkbox" id="listthree" class='droppers')

        a.icon-contact
          span.list-item Connect

          label(for="listthree")
            .dropdown
              span.bar
              span.bar

        a.sub(href='https://www.twitter.com' target='_blank' title='Flammable Records on Twitter')
          span.list-item Twitter

        a.sub(href='https://www.instagram.com' target='_blank' title='Flammable Records on Instragram')
          span.list-item Instagram

        a.sub(href='https://www.facebook.com' target='_blank' title='Flammable Records on Facebook')
          span.list-item Facebook

        a.sub(href='mailto:inquiries@flammablerecords.whatever')
          span.list-item Email

      .sub.phones
      
        a(href='tel:1615XXXXXXX')
          span (615) XXX-XXXX        
        
        a.fancybox(href='#map')
          span.map Nashville, TN
          
          include map

    .copyline
    
      p &copy;2018 Flammable Records &#9702; Nashville, TN, USA

  .toggle-nav
  
    span.m M
    span.e
      span.bar
      span.bar
      span.bar
    span.n N
    span.u U
