
.slidesbox

  s#s1
  s#s2
  s#s3

  .slider
    
    .s1

      img.logo(src='_images/flammable-records-logo.png' alt='Flammable Records logo')
            
      h1.tag 
        span.full Flammable Records
        span.full &nbsp;
        | is a rap, hip hop, and R&B collective featuring: 
        a(href='/' title='Blaze Da Tracblaza bio') Blaze Da Tracblaza
        |, 
        a(href='/' title='Heather B bio') Heather B
        |, 
        |& 
        a(href='/' title='Isis Aaliyah bio') Isis Aaliyah
        |.
      
      a.button(href='mailto:inquiries@flammablerecords.whatever' title='email Blaze' target='_blank') Inquiries
            
    .s2

      img.woo(src='_images/blaze-look-down.png' alt='image of Blaze Da Tracblaza looking at watchq  ')

      h2.testie &ldquo;Blaze is one of those rare talents who can write, produce, manage 
        span and 
        |perform... fantastically.&rdquo;
      
      p.author &mdash;Nicholas 'Rice' Daniels, Artist Representative, AGD

      a.button.fancybox(href='_includes/testimonials' title='Flammable Records testimonials' target='_blank') View Testimonials

    .s3
    
      img.legit(src='_images/blaze-itunes.jpg' alt='Blaze Da Tracblaza iTunes image')
        
      h3.folio Over 15 years of experience and an impressive catalog to back it up... 

      p.proof Blaze delivers clean compositions resulting in intuitive and accessible client experiences. He has a knack for fusing his natural artistic abilities with his great ear for production, creating original content and imaginative tracks.

      a.button.fancybox(href='#hideshow') View Video
        
        include slideshow

      .boxes
        
        h4.type Stream Blaze

        .flexslider.carousel        
        
          .slides
            
            a.box(href='https://www.amazon.com' target='_blank')
              img(src='_images/amazon.svg' alt='amazon icon')
              
            a.box(href='https://www.distrokid.com' target='_blank')
              img(src='_images/distrokid.svg' alt='distrokid icon')
              
            a.box(href='https://www.flickr.com' target='_blank')
              img(src='_images/flickr.svg' alt='flickr icon')
              
            a.box(href='https://www.google.com' target='_blank')
              img(src='_images/google.svg' alt='google music icon')
              
            a.box(href='https://www.itunes.com' target='_blank')
              img(src='_images/itunes.svg' alt='itunes icon')
              
            a.box(href='https://www.pandora.com' target='_blank')
              img(src='_images/pandora.svg' alt='pandora icon')
              
            a.box(href='https://www.soundcloud.com' target='_blank')
              img(src='_images/soundcloud.svg' alt='soundcloud icon')
              
            a.box(href='https://www.spotify.com' target='_blank')
              img(src='_images/spotify.svg' alt='spotify icon')
              
            a.box(href='https://www.tidal.com' target='_blank')
              img(src='_images/tidal.svg' alt='tidal icon')
              
            a.box(href='https://www.youtube.com' target='_blank')
              img(src='_images/youtube.svg' alt='youtube icon')
              
            a.flex-next.icon-arrow

  .scroll-indicatory
    
    a.dot(href="#s1")
    
    a.dot(href="#s2")
    
    a.dot(href="#s3")
