
.slidesbox

  s#s1
  s#s2
  s#s3

  .slider
    
    .s1

      img.logo(src='_images/flammable-records-logo.png' alt='Lindsey Maddox logo')
            
      h1.tag 
        span.full Flammable Records
        span.full &nbsp;
        | is a rap, hip hop, and R&B collective featuring: 
        a(href='/' title='click for bio') Blaze Da Tracblaza
        |, 
        a(href='/') Heather B
        |, 
        |& 
        a(href='/') Isis Aaliyah
        |.
      
      a.button(href='mailto:newaddress@gmail.com' title='email Blaze' target='_blank') Inquiries
            
    .s2

      img.woo(src='_images/blaze-look-down.png' alt='image of Lindsey Maddox')

      h2.testie &ldquo;Blaze is one of those rare talents who can write, produce, manage 
        span and 
        |perform... fantastically.&rdquo;
      
      p.author &mdash;Nicholas 'Rice' Daniels, Artist Representative, AGD

      a.button.fancybox(href='_includes/testimonials' title='Blaze Da Tracblaza testimonials' target='_blank') View Testimonials

    .s3
    
      img.legit(src='_images/blaze-itunes.jpg' alt='small Lindsey Maddox logo')
        
      h3.folio Over 15 years of experience and an impressive catalog to back it up... 

      p.proof Blaze delivers clean compositions resulting in intuitive and accessible client experiences. He has a knack for fusing his natural artistic abilities with his great ear for production, creating original content and imaginative tracks.

      a.button.fancybox(href='#hideshow') View Video
        
        include slideshow

      .boxes
        
        h4.type Stream

        .flexslider.carousel        
        
          .slides
            
            a.box(href='https://www.amazon.com' target='_blank')
              img(src='_images/amazon.svg' alt='amazon icon')
              
            a.flex-next.icon-arrow

  .scroll-indicatory
    
    a.dot(href="#s1")
    
    a.dot(href="#s2")
    
    a.dot(href="#s3")
