
$icomoon-font-path ?= "../_fonts"

$icon-amazon-path1 = "\e900"
$icon-amazon-path2 = "\e901"
$icon-arrow = "\e902"
$icon-distrokid-path1 = "\e903"
$icon-distrokid-path2 = "\e904"
$icon-distrokid-path3 = "\e905"
$icon-distrokid-path4 = "\e906"
$icon-distrokid-path5 = "\e907"
$icon-distrokid-path6 = "\e908"
$icon-distrokid-path7 = "\e909"
$icon-email-path1 = "\e90a"
$icon-email-path2 = "\e90b"
$icon-email-path3 = "\e90c"
$icon-email-path4 = "\e90d"
$icon-email-path5 = "\e90e"
$icon-facebook-path1 = "\e90f"
$icon-facebook-path2 = "\e910"
$icon-flickr-path1 = "\e911"
$icon-flickr-path2 = "\e912"
$icon-flickr-path3 = "\e913"
$icon-google-path1 = "\e914"
$icon-google-path2 = "\e915"
$icon-google-path3 = "\e916"
$icon-google-path4 = "\e917"
$icon-instagram-path1 = "\e918"
$icon-instagram-path2 = "\e919"
$icon-instagram-path3 = "\e91a"
$icon-instagram-path4 = "\e91b"
$icon-itunes-path1 = "\e91c"
$icon-itunes-path2 = "\e91d"
$icon-pandora-path1 = "\e91e"
$icon-pandora-path2 = "\e91f"
$icon-soundcloud-path1 = "\e920"
$icon-soundcloud-path2 = "\e921"
$icon-soundcloud-path3 = "\e922"
$icon-soundcloud-path4 = "\e923"
$icon-soundcloud-path5 = "\e924"
$icon-soundcloud-path6 = "\e925"
$icon-soundcloud-path7 = "\e926"
$icon-soundcloud-path8 = "\e927"
$icon-soundcloud-path9 = "\e928"
$icon-soundcloud-path10 = "\e929"
$icon-spotify-path1 = "\e92a"
$icon-spotify-path2 = "\e92b"
$icon-spotify-path3 = "\e92c"
$icon-spotify-path4 = "\e92d"
$icon-tidal-path1 = "\e92e"
$icon-tidal-path2 = "\e92f"
$icon-tidal-path3 = "\e930"
$icon-tidal-path4 = "\e931"
$icon-tidal-path5 = "\e932"
$icon-twitter-path1 = "\e933"
$icon-twitter-path2 = "\e934"
$icon-youtube-path1 = "\e935"
$icon-youtube-path2 = "\e936"




@font-face
  font-family 'blaze'
  src url($icomoon-font-path + '/blaze.eot?x21yie')
  src url($icomoon-font-path + '/blaze.eot?x21yie#iefix') format('embedded-opentype'), url($icomoon-font-path + '/blaze.ttf?x21yie') format('truetype'), url($icomoon-font-path + '/blaze.woff?x21yie') format('woff'), url($icomoon-font-path + '/blaze.svg?x21yie#blaze') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'blaze' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

icon-amazon()
  .path1
    &:before
      content: $icon-amazon-path1
      color rgb(224, 141, 45)
  .path2
    &:before
      content: $icon-amazon-path2
      margin-left -1em
      color rgb(255, 255, 255)

.amazon
  icon-amazon()

.icon-arrow
  &:before
    content: $icon-arrow

.icon-arrow-back
  &:before
    content: $icon-arrow
    rotation: 180deg

.icon-distrokid .path1
  &:before
    content: $icon-distrokid-path1
    color rgb(15, 120, 185)
.icon-distrokid .path2
  &:before
    content: $icon-distrokid-path2
    margin-left -1em
    color rgb(208, 227, 23)
.icon-distrokid .path3
  &:before
    content: $icon-distrokid-path3
    margin-left -1em
    color rgb(150, 0, 11)
.icon-distrokid .path4
  &:before
    content: $icon-distrokid-path4
    margin-left -1em
    color rgb(0, 0, 0)
.icon-distrokid .path5
  &:before
    content: $icon-distrokid-path5
    margin-left -1em
    color rgb(0, 0, 0)
.icon-distrokid .path6
  &:before
    content: $icon-distrokid-path6
    margin-left -1em
    color rgb(255, 255, 255)
.icon-distrokid .path7
  &:before
    content: $icon-distrokid-path7
    margin-left -1em
    color rgb(255, 255, 255)
.icon-email .path1
  &:before
    content: $icon-email-path1
    color rgb(0, 95, 135)
.icon-email .path2
  &:before
    content: $icon-email-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-email .path3
  &:before
    content: $icon-email-path3
    margin-left -1em
    color rgb(255, 255, 255)
.icon-email .path4
  &:before
    content: $icon-email-path4
    margin-left -1em
    color rgb(255, 255, 255)
.icon-email .path5
  &:before
    content: $icon-email-path5
    margin-left -1em
    color rgb(255, 255, 255)
.icon-facebook .path1
  &:before
    content: $icon-facebook-path1
    color rgb(27, 44, 86)
.icon-facebook .path2
  &:before
    content: $icon-facebook-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-flickr .path1
  &:before
    content: $icon-flickr-path1
    color rgb(151, 153, 153)
.icon-flickr .path2
  &:before
    content: $icon-flickr-path2
    margin-left -1em
    color rgb(58, 88, 167)
.icon-flickr .path3
  &:before
    content: $icon-flickr-path3
    margin-left -1em
    color rgb(255, 0, 132)
.icon-google .path1
  &:before
    content: $icon-google-path1
    color rgb(91, 200, 243)
.icon-google .path2
  &:before
    content: $icon-google-path2
    margin-left -1em
    color rgb(251, 188, 14)
.icon-google .path3
  &:before
    content: $icon-google-path3
    margin-left -1em
    color rgb(218, 45, 89)
.icon-google .path4
  &:before
    content: $icon-google-path4
    margin-left -1em
    color rgb(83, 178, 107)
.icon-instagram .path1
  &:before
    content: $icon-instagram-path1
    color rgb(234, 101, 78)
.icon-instagram .path2
  &:before
    content: $icon-instagram-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-instagram .path3
  &:before
    content: $icon-instagram-path3
    margin-left -1em
    color rgb(255, 255, 255)
.icon-instagram .path4
  &:before
    content: $icon-instagram-path4
    margin-left -1em
    color rgb(255, 255, 255)
.icon-itunes .path1
  &:before
    content: $icon-itunes-path1
    color rgb(177, 81, 178)
.icon-itunes .path2
  &:before
    content: $icon-itunes-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-pandora .path1
  &:before
    content: $icon-pandora-path1
    color rgb(0, 160, 238)
.icon-pandora .path2
  &:before
    content: $icon-pandora-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path1
  &:before
    content: $icon-soundcloud-path1
    color rgb(232, 93, 32)
.icon-soundcloud .path2
  &:before
    content: $icon-soundcloud-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path3
  &:before
    content: $icon-soundcloud-path3
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path4
  &:before
    content: $icon-soundcloud-path4
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path5
  &:before
    content: $icon-soundcloud-path5
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path6
  &:before
    content: $icon-soundcloud-path6
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path7
  &:before
    content: $icon-soundcloud-path7
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path8
  &:before
    content: $icon-soundcloud-path8
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path9
  &:before
    content: $icon-soundcloud-path9
    margin-left -1em
    color rgb(255, 255, 255)
.icon-soundcloud .path10
  &:before
    content: $icon-soundcloud-path10
    margin-left -1em
    color rgb(255, 255, 255)
.icon-spotify .path1
  &:before
    content: $icon-spotify-path1
    color rgb(20, 203, 75)
.icon-spotify .path2
  &:before
    content: $icon-spotify-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-spotify .path3
  &:before
    content: $icon-spotify-path3
    margin-left -1em
    color rgb(255, 255, 255)
.icon-spotify .path4
  &:before
    content: $icon-spotify-path4
    margin-left -1em
    color rgb(255, 255, 255)
.icon-tidal .path1
  &:before
    content: $icon-tidal-path1
    color rgb(183, 156, 24)
.icon-tidal .path2
  &:before
    content: $icon-tidal-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-tidal .path3
  &:before
    content: $icon-tidal-path3
    margin-left -1em
    color rgb(255, 255, 255)
.icon-tidal .path4
  &:before
    content: $icon-tidal-path4
    margin-left -1em
    color rgb(255, 255, 255)
.icon-tidal .path5
  &:before
    content: $icon-tidal-path5
    margin-left -1em
    color rgb(255, 255, 255)
.icon-twitter .path1
  &:before
    content: $icon-twitter-path1
    color rgb(23, 125, 188)
.icon-twitter .path2
  &:before
    content: $icon-twitter-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-youtube .path1
  &:before
    content: $icon-youtube-path1
    color rgb(204, 23, 45)
.icon-youtube .path2
  &:before
    content: $icon-youtube-path2
    margin-left -1em
    color rgb(255, 255, 255)
